Django==1.5.2
Fabric==1.7.0
Jinja2==2.7.1
MarkupSafe==0.18
South==0.8.2
distribute==0.6.34
django-crispy-forms==1.4.0
django-debug-toolbar==0.9.4
django-extra-views==0.6.3
django-fagungis==0.0.17
django-filepicker==0.1.5
django-jinja==0.21
django-json-field==0.5.5
django-social-auth==0.7.26
djangorestframework==2.3.7
httplib2==0.8
mongoengine==0.8.4
oauth2==1.5.211
paramiko==1.11.0
psycopg2==2.5.1
pycrypto==2.6
pymongo==2.6
python-dateutil==2.1
python-openid==2.2.5
six==1.4.1
wsgiref==0.1.2
