body {
	
	background: #eee;
	color: #222;
	font-size: 12px;
	font-family: "museo-sans", "Helvetica", sans-serif;
	
}

h1,h2,h3,h4,h5,h6 {padding: 10px 0; margin: 0;font-family: "museo-sans", "Helvetica", sans-serif;}
h1 {font-size: 5em; font-weight: 100;}
h3 {font-size: 2em; font-weight: 100;}
h4 {font-weight: 100;}
h5 {font-weight: 300; font-size: 1.5em; color: #999;}

a {text-decoration: none;}

ul {list-style: none; padding: 0; margin: 0;}

.btn-primary {background:#2980b9;}

a.persona_login_btn {padding: 10px 25px; font-size: 1.5em; text-transform: uppercase; font-weight: 100;vertical-align: top; text-align: center;   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);   background: #2980b9;   border: 0;  cursor: pointer;   -webkit-box-shadow: inset 0 -2px #2475ab;   box-shadow: inset 0 -2px #2475ab; color: #fff; margin-right: 10px;}
a.persona_login_btn:hover {background: #2475ab; text-decoration: none;}

#logo {position: fixed; bottom: 20px; right: 20px; opacity: 0.3;}
#logo:hover {opacity: 1;}

.firstrow {margin-bottom: 10px;}
.whitebg {background: #fff; padding: 15px;-moz-box-shadow: 0px 0px 1px #888;-webkit-box-shadow: 0px 0px 1px #888;box-shadow: 0px 0px 1px #888;}
.nobg {border-bottom: 1px solid #fff; padding-bottom: 10px;}

.navbar-inner {
min-height: 40px;
padding-left: 20px;
padding-right: 20px;
background-color: #ffffff;
border: 1px solid #d4d4d4;
}

#scene {position: fixed; z-index: 1;}

.navbar-link {text-transform: uppercase; font-size: 0.8em;}

/* ////// login.html ////// */

#aboutcopy {color: #333;}
#aboutcopy h1 {padding-bottom: 25px; margin-top: 100px;}


/* ////// about.html ////// */

#aboutwrap {color: #fff;}

#fyiowa { margin-top: 125px;}
#info {margin-top: 50px; clear: both;}
#signup { margin-top: 75px; clear: both;}

.findyour {font-size: 7em;font-weight: 100; float: left;}
ul.scroll {list-style: none; font-size: 7em;font-weight: 700; float: left; margin: 0 0 0 0.3em; padding: 0;}

.scroll-hidden {display: none;}

#dca-about {position: fixed; bottom: 25px; right: 25px; opacity: 0.3;}
#dca-about:hover {opacity: 1.0;}



/* ////// contact.html ////// */

#contactwrap { padding: 0;}




ul.departments {list-style: none; float: left; }
ul.departments li {margin-bottom: 20px;}


/* ////// home.html ////// */

#locationswrap {background: #fff; padding: 5px 15px 10px 15px;-moz-box-shadow: 0px 0px 0px #888;-webkit-box-shadow: 0px 0px 0px #888;box-shadow: 0px 0px 0px #888;}
#locationswrap h3 {font-size: 2em;}
#locationswrap hr {margin: 5px 0 10px 0;}
a.add-location {float:right;margin-top: 0px;}
a.add-location:hover {background: #277ab0;}

ul.locations {list-style: none; margin-top: 25px;}
ul.locations li {font-weight: 500; font-size: 1.675em;}
ul.locations li a {background: #f9f9f9; display: block;padding: 25px 25px 25px 25px; color: #999; border-top: 1px solid #eee;}
ul.locations li a:hover {background: #ebebeb; color: #fff; text-decoration: none;}

/* ////// location_new.html ////// */
#formwrap {background: #fff; padding: 15px;margin-bottom: 1em !important;}
#formwrap h3 {text-align: left; padding-left: 25px;}
input {width: 250px;}
legend {color:#ccc; text-transform: uppercase; font-size: 1.5em; font-weight: 200; text-align: left; padding-left: 25px;}

#dcanews {min-height: 400px;}

.help-inline {position: absolute; background: #fff; z-index: 1000;padding: 10px;}
#address-map-container{
    width: 200px;
    height: 200px;
    z-index: 1;
}

.formfixed {}
.formbtn {margin-bottom: 0.5em !important;}

/* ////// admin ////// */

#stafftools {background: #2980b9; color: #fff;}
#stafftools ul {list-style: none;}
#stafftools ul li {float: left; margin-right: 10px; font-weight: 100; text-transform: uppercase; font-size: 0.9em;}
#stafftools ul li a {color: #fff; font-weight: bold; font-size: 1.2em; text-transform: none;}

.belize-hole-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  vertical-align: top;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2980b9;
  border: 0;
  border-bottom: 2px solid #2475ab;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2475ab;
  box-shadow: inset 0 -2px #2475ab;
}
.belize-hole-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}



.bootstrap-timepicker {
    margin-right: 20px;
}




#location-form-images-container {
}

.location-form-image {
    height: 100px;
}


.location-form-logo {
    height: 100px;
}

.thumbnail-container {
    position:relative;
    display:inline-block;
    text-align:left;
    border:1px solid #000;
    margin-right: 20px;
    margin-top: 20px;
}

.remove_image_btn {
    position:absolute;
    margin-top: -2px;
    right:0;
}













::-webkit-input-placeholder{
    color: #ccc;
    font-style:italic;
} 
:focus::-webkit-input-placeholder{
     text-indent: -999px
}
::-moz-placeholder{
    color: #ccc;
    font-style:italic;
}
:focus::-moz-placeholder{
     text-indent: -999px
}



div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
	max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
	border-top: none;
}

div.dataTables_scrollFoot table {
	border-top: none;
}




/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
	background-color: #08C;
	color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
	background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
	background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
	cursor: pointer;
	*cursor: hand;
}

div.DTTT .btn {
	color: #333 !important;
	font-size: 12px;
}

div.DTTT .btn:hover {
	text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
	color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
	background-color: #0088cc;
	color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
	height: 150px;
	margin-top: -75px;
	text-align: center;
}

div.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

div.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
	background-color: white;
}

div.DTFC_LeftHeadWrapper table {
	margin-bottom: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
	border-top: none;
}

div.DTFC_LeftFootWrapper table {
	border-top: none;
}








@media (max-width: 799px) {
   #fyiowa { margin-top: 25px;}
  .findyour {font-size: 2em; float: left;}
  ul.scroll {list-style: none; font-size: 2em;float: left; margin: 0 0 0 0.3em; padding: 0;}
  #aboutwrap #info {margin-top: 30px;}
  #aboutwrap #signup {margin-top: 50px;}
  #dca-about {display: none;}
}

			
			
			



@media (min-width: 980px) {
  body {padding-top: 60px;}
  .nav-support {padding-top: 5px;}
  .formfixed {position: fixed;}
}

@media (min-width: 800px) {

  .formfixed {position: fixed;}
  #aboutwrap {color: #fff; padding-left: 50px;}
}



