{% include "header.html" %}

<style>
body {background: #111;}
</style>

<div class="container-fluid">
  <div class="row" id="aboutwrap">
  
  	
  	<div class="span12" id="fyiowa">
  	
	  	<span class="findyour">Find your</span>
		 
		<ul class="scroll-visible scroll">
	                <li>Iowa.</li>
	    </ul>
	            
	    <ul class="scroll-hidden scroll">
	
	        <li>museums.</li>
	        <li>public art.</li>
	        <li>theaters.</li>
	        <li>zoos.</li>
	        <li>landmarks.</li>
	        <li>riverwalks.</li>
	        <li>barns.</li>
	    </ul>
  	
  	</div>
  

<div class="span10" id="info">
<span class="unlimited">99 counties. 56,272 square miles. Unlimited possibilities.</span>
	<p>The Iowa Department of Cultural Affairs is proud to bring you a new mobile app, designed to elevate the people, places, and points of pride that enrich Iowa’s 99 counties.  Through one centralized platform, you can map an adventure across the state, locate nearby points of interest, or search by cultural category for sites to see. Experience Iowa’s arts, history and culture to help preserve the past and inform the future.</p>
</div>


<div class="span10" id="signup">
<h3><span class="bold">Coming soon.</span> Notify me when this app launches:</h3>

	<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup {background:none; padding: 0; margin: 0;}
		#mc_embed_signup form {padding:0; margin:0;}
		#mc_embed_signup input {background: #111; color: #fff; border:none; border-bottom: 1px solid; padding: 10px; }
		#mc_embed_signup input.email {margin-right: 0; width: 70%;}
		#mc_embed_signup input.button {background: none; border: 1px solid #ebebeb; color: #fff; line-height: 30px; font-weight: 300;}
		#mc_embed_signup input.button:hover {background:#fff; color:#111;}
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
	<form action="http://fresksite.us1.list-manage.com/subscribe/post?u=0e6f67c6b6778ba6ebbcae7dd&amp;id=ccb3c42f60" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email" required>
		<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	</form>
	</div>
</div>

<!--End mc_embed_signup-->

  </div>
</div>


<a href="http://www.culturalaffairs.org/" target="_blank"><img src="/static/img/dca-la.png" id="dca-about" alt="Iowa Department of Cultural Affairs" /></a>


{% include "footer.html" %}