{% include "header.html" %}

<link rel="stylesheet" href="/static/css/testing.css">

<div id="pt-main" class="pt-perspective">
    <div class="pt-page pt-page-1" id="dca">
        <h1>DCA</h1>
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="pt-page pt-page-2" id="shs">
	    <h1>SHS</h1>
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="pt-page pt-page-3"  id="shm">
	    <h1>SHM</h1>
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="pt-page pt-page-4"  id="iac">
	    <h1>IAC</h1>
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
  

  	
  	<div class="span6">
  	
  	</div>
  	
  	
  <div class="pts-triggers">
			<div id="dl-menu">
		
		
		<ul class="dl-menu">
			<li data-animation="1"><a href="#dca" target="_blank"><img src="/static/img/departments/dca.png" id="dca-dca" alt="Department of Cultural Affairs" /></a></li>
			<li data-animation="2"><a href="#shs" target="_blank"><img src="/static/img/departments/shs.png" id="dca-shs" alt="State Historical Society of Iowa" /></a></li>
			<li data-animation="3"><a href="#iac" target="_blank"><img src="/static/img/departments/iac.png" id="dca-iac" alt="Iowa Arts Council" /></a></li>
			<li data-animation="4"><a href="#pi" target="_blank"><img src="/static/img/departments/pi.png" id="dca-pi" alt="Produce Iowa" /></a></li>
			<li data-animation="4"><a href="#shm" target="_blank"><img src="/static/img/departments/shm.png" id="dca-shm" alt="State Historical Museum of Iowa" /></a></li>
			<li data-animation="4"><a href="#shpo" target="_blank"><img src="/static/img/departments/shpo.png" id="dca-shpo" alt="State Historic Preservation office" /></a></li>
			<li data-animation="4"><a href="#ihf" target="_blank"><img src="/static/img/departments/ihf.png" id="dca-ihf" alt="Iowa Historical Foundation" /></a></li>
			<li data-animation="4"><a href="#shlm" target="_blank"><img src="/static/img/departments/shla.png" id="dca-shla" alt="State Historical Library and Archives" /></a></li>
			<li data-animation="67"><a href="#igp" target="_blank"><img src="/static/img/departments/igp.png" id="dca-igp" alt="Iowa Great Places" /></a></li>	
  		</ul>
  		
  		
  		
  	</div>
  </div>
  	
  	
  	
  	
  	
{% include "footer.html" %}
