    <!-- Footer -->
    <div id="footer" class="container-fluid">
      
      <footer>
      
 
      </footer>

    </div>



    {{form.media}}

<script src='https://login.persona.org/include.js'></script>
<script src='/static/js/login.js'></script>
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
