{% include "header.html" %}
{% include "navbar.html" %}


<div id="main-container" class="container-fluid" >
  <div class="row-fluid">
  
  	

	  	

	  	
	<div class="span12">
	
		<div class="span2"></div>  	
	  	
	  	<div class="span8 whitebg">
	  	
	  		<div class="pad">
		  	<h3>Questions &amp; Support, and Comments</h3>
		  	<p>Problems adding or editing your listings? Or do you have an idea or suggestion on how to improve FindYourIowa?
		  	Please fill out the fields below and we will assist you as soon as possible. </p>
	  		</div>
		  	
		  	<script type="text/javascript" src="http://form.jotform.us/jsform/32736045351147"></script>
	  	</div
	  	
	  	<div class="span2"></div>  	
	  
	 </div>	

  
  	
     </div>
</div>

{% include "footer.html" %}
