{% include "header.html" %}
{% include "navbar.html" %}
{% load js_tags %}
<div id="main-container" class="container-fluid" >
  <div class="row-fluid"> 
    
    
	    {% if request.user.is_staff %}
	    <div class="row-fluid">
    	 <div class="span12 whitebg firstrow" id="stafftools">
	      	<ul>
	          <li>Staff Tools:</li>
	          <li><a href="/admin/">Show all Listings</a></li>
	        </ul>
	      </div>
	    </div> 
	    {% endif %}
	   
    
   
    
    	<div class="span2">
	   
	    </div>
	    
	    <div class="span8 whitebg" id="formwrap">
	      
	      {% if not locations %}
	      <hr>
	      <h5> You don't have any listings yet. <a href="/location/new">Let's create one!</a> </h5>
	      {% endif %}
	      
	      <ul class="locations">
	        {% for l in locations %}
	        <li><a href="/location/{{ l.id }}">{{l.name}} - {{ l.category|join:' | '}}</a></li>
	        {% endfor %}
	        </ul>
	    </div>
	    
	    <div class="span2">
	      <div class="formfixed">
	      <h3><a href="/location/new" class="btn btn-primary add-location">Add Listing</a></h3> 
	      </div>
       </div>
	    
	    


    

  </div>
</div>

{% include "footer.html" %}
