{% include "header.html" %}
{% include "navbar.html" %}

<div id="main-container" class="container-fluid" >
  <div class="row-fluid">
    <!--
    <div class="span12">
      <h1>Home</h1>
      <a rel="nofollow" class="logout" href="/logout/">Logout</a>
    </div>
    <div class="span4">
      <h3>User data:</h3>
      <table class="table table-striped">
        <tr><th>Id:</th> <td>{{ user.id }}</td></tr>
        <tr><th>Username:</th> <td>{{ user.username }}</td></tr>
        <tr><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
        <tr><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
        <tr><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
        <tr><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
      </table>
    </div>
    -->
     <!--
    <div class="row-fluid firstrow">
	    <div class="span12 nobg">
	    <h4>Hi {{ user.username }}</h4>
	    </div>
    </div>
  -->
    
    
	    {% if request.user.is_staff %}
	    <div class="row-fluid">
    	 <div class="span12 whitebg firstrow" id="stafftools">
	      	<ul>
	          <li>Staff Tools:</li>
	          <li><a href="/admin/">Show all Locations</a></li>
	        </ul>
	      </div>
	    </div> 
	    {% endif %}
	   
    
    <div class="row-fluid">
    
    	<div class="span2">
	   
	    </div>
	    
	    <div class="span8 whitebg" id="locationswrap">
	    
	      <h3>Your locations: <a href="/location/new" class="btn btn-primary add-location">Add Location</a></h3> 
	      
	      {% if not locations %}
	      <hr>
	      <h5> You don't have any spots yet. <a href="/location/new">Let's create one!</a> </h5>
	      {% endif %}
	      
	      <ul class="locations">
	        {% for l in locations %}
	        <li><a href="/location/{{l.id}}">{{l.name}} - {{ l.category|join:' | '}}</a></li>
	        {% endfor %}
	        </ul>
	    </div>
	    
	    <div class="span2" id="dcanews">
	   
	    </div>
	    
	    
    </div>

    

  </div>
</div>

{% include "footer.html" %}
