{% include "header.html" %}


<div class="container-fluid">
  <div class="row-fluid" id="aboutwrap">
  
  	
  	<div class="span12">
  	
  	
  	  	<div class="span12" id="fyiowaabout">
  	
	  	<span class="findyour" id="findyourabout">Helping Iowans find</span>
		 
		<ul class="scroll-visible scroll" id="scrollabout2">
	                <li>museums.</li>
	    </ul>
	            
	    <ul class="scroll-hidden scroll" id="scrollabout">
	
	        <li>public art.</li>
	        <li>theaters.</li>
	        <li>zoos.</li>
	        <li>landmarks.</li>
	        <li>riverwalks.</li>
	        <li>barns.</li>
	    </ul>
  	
  	</div>
  	
  	
  	
  	
  	<div class="span10" id="aboutcopy">

  	<p>The Iowa Department of Cultural Affairs is proud to bring you a new mobile app, designed to elevate the people, places, and points of pride that enrich Iowa’s 99 counties.</p>
  	<p><a rel="nofollow" class="persona_login_btn">Register your location here</a>. Iowans will find it as they map an adventure across the state, locate nearby points of interest, or search by cultural category.</p>
<p><a rel="nofollow" class="persona_login_btn">Sign up</a> to register for the first time. Then, bookmark this page and log in occasionally to keep your location’s information up-to-date.</p>
<p>The Find Your Iowa app will be launched to the public soon. To be notified, enter your email address at <a href="http://findyouiowa.com">findyouriowa.com</a>.</p>

</p>
  	</div>
  	
  	</div>
  
  	
    <div class="span6" style="margin:0;" id="personabtns">
     
      <form method="post" action="{% url 'socialauth_complete' "browserid" %}" >
        <input type="hidden" name="assertion" value="" id="persona_assertion_field" />
      </form>
      <ul>
        <li>
        <a rel="nofollow" class="persona_login_btn animated fadeInUp" href="#">
          Sign Up
        </a>
        <a rel="nofollow" class="persona_login_btn animated fadeInUp" href="#">
          Login
        </a>
        </li>
        <!--{% for name in social_auth.backends.oauth2 %}
        <li><a rel="nofollow" href="{% url 'socialauth_begin' name %}" class="oauth2_login_btn">
          {{ name|title }}
        </a></li>
        {% endfor %}-->
      </ul>
    </div>
  </div>
</div>

    <div id="credits">  
     <h6>Brought to you by:</h6>
     <ul class="departments">
      <li><a href="http://www.culturalaffairs.org/" target="_blank"><img src="/static/img/departments/b/dca.png" alt="99 Counties of Iowa" /></a></li>
      <li><a href="http://www.iowahistory.org" target="_blank"><img src="/static/img/departments/b/shs.png" alt="State Historical Society of Iowa" /></a></li>
      <li><a href="http://www.iowaartscouncil.org/" target="_blank"><img src="/static/img/departments/b/iac2.png" alt="Iowa Arts Council" /></a></li>
      <li><a href="http://www.produceiowa.org/" target="_blank"><img src="/static/img/departments/b/pi.png" alt="Produce Iowa" /></a></li>
    </ul>
    </div>



{% include "footer.html" %}
