<!doctype html>
<html>
<head>
<style>
    body{
        font-family: Avenir, Helvetica, Arial, sans-serif;
        padding-left: 20px;
        padding-right: 20px;
    }
 </style>
</head>

<body>


<p>{{ location.description }}</p>

<h4>Website:</h4>
<p>{{ location.website }}</p>

<h4>Contact:</h4>
<address>
    {{location.name}}<br>
    {{ address.street }}
    {{ address.city }}, {{ address.zip }}, IA<br>
</address>
<p><b>phone:</b> {{location.contact.phone}}</p>
<p><b>email:</b> {{ location.contact.email }}</p>

</body>
</html>