<!doctype html>
<html>
<head>
<style>
    body{
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        padding-left: 10px;
        padding-right: 15px;
        max-width: 280px;
        font-size: 13px;
    }

    h2{
        margin:0;
        padding: 20px 5px 10px 0;
        line-height: 1.2em;
    }
    
    h4 {
	    padding: 15px 0 0 0;
	    margin: 0;
    }

    p{
        margin-top:0;
        padding-top:0;

    }
    a {text-decoration: none; color: #7eb8dc;}
 </style>
</head>

<body>
{% load render_filters %}

<h2>{{ location.name }}</h2>
<p>{{ location.description }}</p>

<h4>Contact:</h4>
<address>
    {{ location.address.street }}<br/>
    {{ location.address.city }}, {{ location.address.zip }}, IA<br>
</address>


{% if location|get_raw:"Artist About" %}
    <h4>About the Artist:</h4>
    <p>{{ location|get_raw:"Artist About" }}</p>
{% endif %}


{% if location.website %}
<h4>Website:</h4>
<p>{{ location.website }}</p>
{% endif %}

{% if location.contact.phone %}
<h4>Phone:</h4>
<p>{{location.contact.phone}}</p>
{% endif %}

{% if location.contact.email %}
<h4>Email:</h4>
<p>{{ location.contact.email }}</p>
{% endif %}

{% if location.social.facebook %}
    <h4>Facebook:</h4>
    <p>{{ location.social.facebook }}</p>
{% endif %}

{% if location.social.youtube %}
    <h4>YouTube:</h4>
    <p>{{ location.social.youtube }}</p>
{% endif %}

{% if location.social.twitter %}
    <h4>Twitter:</h4>
    <p>{{ location.social.twitter }}</p>
{% endif %}

{% if location.social.instagram %}
    <h4>Instagram:</h4>
    <p>{{ location.social.instagram }}</p>
{% endif %}

<!--
{% if location.keywords %}
    <h4>Keywords:</h4>
    <p>{{ location.keywords }}</p>
{% endif %}
-->


</body>
</html>